:root {
    --primary-color: #006837; 
    --secondary-color: #00A63F; 
    --accent-color: #FFC900; 
    --background-color: #f7f7f7b8; 
    --text-color: #333; 
    --header-background: var(--primary-color); 
    --header-text: #ffffff; 
    --nav-background: #005f28; /* Nuevo color */
    --nav-border: #FFA500; 
    --nav-hover: #00A63F; /* Nuevo color */
    --footer-background: var(--primary-color); 
    --footer-text: #ffffff; 
    --menu-background: #005f28; /* Nuevo color */
    --menu-text: #ffffff; 
    --menu-hover: #00A63F; /* Nuevo color */
    --menu-border: #ffa500; 
    --menu-border-thickness: 6px; 
    --article-background: #ffffff; 
    --article-border: #ddd; 
    --article-title: var(--primary-color); 
    --article-text: #666; 
    --article-hover: #f1f1f1; 
}

/* Estilos generales */
body {
    font-family: 'Frutiger', sans-serif; /* Utilizando la fuente Frutiger */
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden; /* Evita desplazamiento horizontal cuando el menú está abierto */
}

header {
    background-color: var(--header-background);
    color: var(--header-text);
    padding: 1rem 0;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header h2 {
    margin: 0;
    font-size: 1.2rem;
    color: var(--accent-color);
}

#titulo-enlace {
    color: var(--header-text);
    font-size: 1.5rem;
    font-weight: bold;
}

#enlace-container a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del texto de su contenedor */
    cursor: pointer; /* Cambia el cursor a predeterminado */
}

/* Estilos específicos para la noticia */
#noticia-detallada {
    margin: 20px auto 40px;
    max-width: 800px;
}

.titulonoticia {
    background-color: var(--background-color);
    padding: 1rem;
}

#noticia-detallada article {
    background-color: var(--article-background);
    border: 1px solid var(--article-border);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    line-height: 1.6;
}

#noticia-detallada header {
    margin-bottom: 1rem;
}

#noticia-detallada h2 {
    color: var(--article-title);
    font-size: 2rem;
    margin-top: 0;
}

#noticia-detallada .subtitulo {
    font-size: 1.2rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

#noticia-detallada .meta {
    color: var(--article-text);
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

#noticia-detallada .meta a {
    color: var(--accent-color);
    text-decoration: none;
}

#noticia-detallada .meta a:hover {
    text-decoration: underline;
}

#noticia-detallada .imagen {
    margin-bottom: 1rem;
}

#noticia-detallada .imagen img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#noticia-detallada .contenido {
    line-height: 1.6;
    font-size: 1rem;
}

#noticia-detallada .boton-volver {
    background-color: var(--accent-color);
    color: var(--header-text);
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#noticia-detallada .boton-volver:hover {
    background-color: var(--header-background);
    color: var(--accent-color);
}

#menu-toggle {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--header-text);
    cursor: pointer;
}

#menu-toggle:focus {
    outline: none;
}

/* Estilos del menú lateral */
#side-menu {
    position: fixed;
    left: -250px;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: var(--menu-background);
    overflow-y: auto;
    transition: left 0.3s ease;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    padding-top: 50px;
}

.menu-open #side-menu {
    left: 0;
}

#side-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#side-menu h2 {
    padding: 1rem;
    color: var(--accent-color);
    text-align: center;
}

#side-menu ul li {
    padding: 1rem;
    border-bottom: 1px solid var(--nav-hover);
}

#side-menu ul li:last-child {
    border-bottom: none; /* Eliminamos el borde inferior del último elemento de la lista */
}

#side-menu ul li a {
    color: var(--menu-text);
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#side-menu ul li a:hover {
    background-color: var(--menu-hover);
    color: var(--menu-background);
}

#close-menu {
    position: absolute;
    right: 1rem;
    top: 15px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--menu-text);
    cursor: pointer;
}

#close-menu:focus {
    outline: none;
}

main {
    padding: 1rem;
}

section#noticias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-bottom: 4rem; /* Para dar espacio al pie de página fijo */
}

.noticia {
    background-color: var(--article-background);
    border: 1px solid var(--article-border);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s, background-color 0.2s;
    text-decoration: none;
    color: inherit;
}

.noticia:hover {
    transform: scale(1.02);
    background-color: var(--article-hover);
}

.noticia img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.noticia .content {
    padding: 1rem;
}

.noticia h2 {
    color: var(--article-title);
    font-size: 1.5rem;
    margin-top: 0;
}

.noticia p {
    color: var(--article-text);
}

footer {
    background-color: var(--footer-background);
    color: var(--footer-text);
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos específicos para la página del autor */
#autor {
    margin: 20px auto 40px;
    max-width: 800px;
}

#autor article {
    background-color: var(--article-background);
    border: 1px solid var(--article-border);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    line-height: 1.6;
}

#autor .titulonoticia {
    background-color: var(--background-color);
    padding: 1rem;
    margin-bottom: 1rem;
}

#autor .imagen {
    margin-bottom: 1rem;
    text-align: center;
}

#autor .imagen img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#autor .meta {
    color: var(--article-text);
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

#autor .contenido {
    line-height: 1.6;
    font-size: 1rem;
}

#autor h3 {
    color: var(--article-title);
    margin-top: 1.5rem;
}

.redes-sociales {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.redes-sociales a {
    text-decoration: none;
}

.redes-sociales img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.redes-sociales img:hover {
    transform: scale(1.1);
}

#autor p a {
    color: var(--article-title);
    text-decoration: none;
    transition: color 0.3s;
}

#autor p a:hover {
    color: var(--accent-color);
}

/* Estilos para el correo electrónico */
.email-contact {
    margin-top: 2rem;
    font-size: 1.1rem;
    text-align: center;
}

.email-contact a {
    color: var(--accent-color);
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.email-contact a:hover {
    color: var(--primary-color);
}

@media (min-width: 1024px) {
    section#noticias {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 600px) {
    header h1 {
        font-size: 1.5rem;
    }

    header h2 {
        font-size: 1rem;
    }

    .noticia h2 {
        font-size: 1.25rem;
    }
    
    #noticia-detallada {
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    main {
        padding: 0%;
    }

    #menu-toggle {
        font-size: 1.2rem;
    }

    #close-menu {
        font-size: 1.2rem;
    }
}
