/* Colores */
:root {
    --primary-color: #003366;
    --secondary-color: #00509E;
    --accent-color: #FFA500;
    --background-color: #f4f4f4;
    --text-color: #333;
    --header-color: #333;
    --nav-background: #444;
    --nav-hover: #555;
    --footer-background: #333;
    --footer-text: white;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

header h2 {
    margin: 0;
    font-size: 1.2rem;
    color: #ddd;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: var(--nav-background);
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    flex: 1 1 auto;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: var(--nav-hover);
}

main {
    padding: 1rem;
}

section#noticias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-bottom: 4rem; /* Para dar espacio al pie de página fijo */
}

.noticia {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    text-decoration: none;
    color: inherit;
}

.noticia:hover {
    transform: scale(1.02);
}

.noticia img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.noticia .content {
    padding: 1rem;
}

.noticia h2 {
    color: var(--secondary-color);
    font-size: 1.5rem;
    margin-top: 0;
}

footer {
    background-color: var(--footer-background);
    color: var(--footer-text);
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (min-width: 1024px) {
    section#noticias {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 600px) {
    header h1 {
        font-size: 1.5rem;
    }

    header h2 {
        font-size: 1rem;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav ul li a {
        padding: 10px;
    }

    .noticia h2 {
        font-size: 1.25rem;
    }

    
}
