/* Colores */
:root {
    --primary-color: #006837; /* Verde primario */
    --secondary-color: #00A63F; /* Verde secundario */
    --accent-color: #FFC900; /* Acento */
    --background-color: #F7F7F7; /* Fondo */
    --text-color: #ffa500; /* Texto */
    --header-background: var(--primary-color); /* Fondo de la cabecera */
    --header-text: #ffffff; /* Texto de la cabecera */
    --nav-background: var(--secondary-color); /* Fondo del menú */
    --nav-border: #FFA500; /* Borde del menú */
    --nav-hover: #005f28; /* Color de hover del menú */
    --footer-background: var(--primary-color); /* Fondo del pie de página */
    --footer-text: #ffffff; /* Texto del pie de página */
    --menu-background: #006837; /* Fondo del menú lateral */
    --menu-text: #ffffff; /* Texto del menú lateral */
    --menu-hover: #FFC900; /* Color de hover del menú lateral */
    --menu-border: #ffa500; /* Borde del menú lateral */
    --menu-border-thickness: 6px; /* Grosor del borde del menú lateral */
    --article-background: #ffffff; /* Fondo de los artículos */
    --article-border: #ddd; /* Borde de los artículos */
    --article-title: var(--primary-color); /* Color del título de los artículos */
    --article-text: #666; /* Color del texto de los artículos */
    --article-hover: #f1f1f1; /* Color de hover de los artículos */
}


/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color); /* Mantenemos el fondo blanco */
    color: var(--text-color);
    overflow-x: hidden; /* Evita desplazamiento horizontal cuando el menú está abierto */
}

header {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#titulo-enlace {
    color: #333; /* Color de texto */
    font-size: 28px; /* Tamaño de fuente */
    font-weight: bold;
}


header h1 {
    margin: 0;
    font-size: 2rem;
}

header h2 {
    margin: 0;
    font-size: 1.2rem;
    color: var(--accent-color);
}

/* Estilos específicos para la noticia */
#noticia-detallada {
    margin: 20px auto 40px;
    max-width: 800px;
}

.titulonoticia {
    background-color:#F7F7F7;
}

#noticia-detallada article {
    background-color: var(--article-background); /* Mantenemos el fondo de la noticia */
    border: 1px solid var(--article-border);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

#enlace-container a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del texto de su contenedor */
    cursor: pointer; /* Cambia el cursor a predeterminado */
}


#noticia-detallada header {
    margin-bottom: 1rem;
}

#noticia-detallada h2 {
    color: var(--primary-color); /* Cambiamos el color del titular a verde */
    font-size: 2rem; /* Aumentamos el tamaño del titular */
    margin-top: 0;
}

#noticia-detallada .subtitulo {
    font-size: 1.2rem;
    color: var(--accent-color);
    margin-bottom: 1rem;
}

#noticia-detallada .meta {
    color: var(--article-text); /* Mantenemos el color del texto de la meta */
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

#noticia-detallada .meta a {
    color: var(--accent-color);
    text-decoration: none;
}

#noticia-detallada .meta a:hover {
    text-decoration: underline;
}

#noticia-detallada .imagen {
    margin-bottom: 1rem;
}

#noticia-detallada .imagen img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#noticia-detallada .contenido {
    line-height: 1.6;
}

#noticia-detallada .boton-volver {
    background-color: var(--accent-color);
    color: var(--header-text);
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#noticia-detallada .boton-volver:hover {
    background-color: var(--header-background);
    color: var(--accent-color);
}


#menu-toggle {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--header-text);
    cursor: pointer;
}

#menu-toggle:focus {
    outline: none;
}

/* Estilos del menú lateral */
#side-menu {
    position: fixed;
    left: -250px;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: var(--menu-background);
    overflow-y: auto;
    transition: left 0.3s ease;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    font-family: 'Arial', sans-serif; /* Fuente tipográfica */
    padding-top: 50px; /* Espacio para el encabezado */
}

#h2.menu-tittle {
    font-weight: bold;
    color:#FFC900;
    text-decoration: underline;
    font-size: 1.5em; /* Ajusta el tamaño de la fuente según sea necesario */
    margin-bottom: 10px; /* Añade espacio entre el título y los elementos de la lista */
    margin: 200px;
}

.menu-open #side-menu {
    left: 0;
}

#side-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#side-menu h2 {
    padding: 0;
    margin: 15px;
}

#side-menu ul li {
    padding: 1rem;
    border-bottom: 1px solid var(--nav-hover);
}

#side-menu ul li:last-child {
    border-bottom: none; /* Eliminamos el borde inferior del último elemento de la lista */
}

#side-menu ul li a {
    color: var(--menu-text);
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease; /* Agregamos transición para el color del texto */
}

#side-menu ul li a:hover {
    background-color: var(--menu-hover);
    color: rgba(255, 255, 0, 0.8); /* Amarillo más opaco */
}

#close-menu {
    position: absolute;
    right: 1rem;
    top: 15px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--menu-text);
    cursor: pointer;
}

#close-menu:focus {
    outline: none;
}

#menu-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--menu-background);
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1001; /* Por encima del menú */
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--menu-text);
}

#menu-header img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.menu-open #side-menu {
    left: 0;
}

main {
    padding: 1rem;
}

section#noticias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-bottom: 4rem; /* Para dar espacio al pie de página fijo */
}

.noticia {
    background-color: var(--article-background);
    border: 1px solid var(--article-border);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s, background-color 0.2s;
    text-decoration: none;
    color: inherit;
}

.noticia:hover {
    transform: scale(1.02);
    background-color: var(--article-hover);
}

.noticia img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.noticia .content {
    padding: 1rem;
}

.noticia h2 {
    color: var(--article-title);
    font-size: 1.5rem;
    margin-top: 0;
}

.noticia p {
    color: var(--article-text);
}

footer {
    background-color: var(--footer-background);
    color: var(--footer-text);
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1024px) {
    section#noticias {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 600px) {
    header h1 {
        font-size: 1.5rem;
    }

    header h2 {
        font-size: 1rem;
    }

    .noticia h2 {
        font-size: 1.25rem;
    }
    #noticia-detallada {
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    #main {
        padding: 0%;
    }
}
